In [9]:
import pandas as pd

# Clean file

# Read the oil(india) file
with open('Pre-processed/oil(india).csv', 'r') as file:
    lines = file.readlines()

# Replace the comma with a semicolon in the first line
lines[0] = lines[0].replace(',', ';')

# Write the modified lines back to the file
with open('Pre-processed/oil(india).csv', 'w') as file:
    file.writelines(lines)


# Load CSV file into a DataFrame
df_data = pd.read_csv('Pre-processed/data.csv')
df_events = pd.read_csv('Pre-processed/holidays_events(india).csv', delimiter=';')
df_items = pd.read_csv('Pre-processed/items.csv', delimiter=';', encoding='ISO-8859-1')
df_oil = pd.read_csv('Pre-processed/oil(india).csv', delimiter=';', encoding='ISO-8859-1')
df_stores = pd.read_csv('Pre-processed/stores.csv', delimiter=';', encoding='ISO-8859-1')
df_test = pd.read_csv('Pre-processed/test.csv')
df_trans = pd.read_csv('Pre-processed/transactions.csv')


# Print structure and head for each DataFrame
dfs = [df_data, df_events, df_items, df_oil, df_stores, df_test, df_trans]
df_names = ['df_data', 'df_events', 'df_items', 'df_oil', 'df_stores', 'df_test', 'df_trans']

for df, df_name in zip(dfs, df_names):
    print(f"\nDataFrame: {df_name}")
    print("Structure:")
    print(df.dtypes)
    print("\nFirst 10 rows:")
    print(df.head(10))

C:\Users\Cursist\AppData\Local\Temp\ipykernel_11276\2442999806.py:18: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data = pd.read_csv('Pre-processed/data.csv')
C:\Users\Cursist\AppData\Local\Temp\ipykernel_11276\2442999806.py:20: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_items = pd.read_csv('Pre-processed/items.csv', delimiter=';', encoding='ISO-8859-1')

DataFrame: df_data
Structure:
Unnamed: 0       int64
id               int64
date            object
store_nbr        int64
item_nbr         int64
unit_sales     float64
onpromotion     object
dtype: object

First 10 rows:
   Unnamed: 0   id        date  store_nbr  item_nbr  unit_sales onpromotion
0           0    0  2013-01-01         25    103665       7.000         NaN
1          60   60  2013-01-01         25    214381       5.000         NaN
2         120  120  2013-01-01         25    315179       4.000         NaN
3         180  180  2013-01-01         25    414752       1.000         NaN
4         240  240  2013-01-01         25    557408       3.000         NaN
5         300  300  2013-01-01         25    657869       1.000         NaN
6         360  360  2013-01-01         25    781797       2.000         NaN
7         420  420  2013-01-01         25    859529       1.000         NaN
8         480  480  2013-01-01         25    953609       1.000         NaN
9         540  540  2013-01-01         25   1062374      10.601         NaN

DataFrame: df_events
Structure:
date           object
type           object
description    object
transferred    object
dtype: object

First 10 rows:
     date       type                description         transferred
0   1/jan     zondag             New Year's Day  Restricted Holiday
1   5/jan  donderdag  Guru Govind Singh Jayanti          Observance
2  14/jan   zaterdag                     Pongal  Restricted Holiday
3  15/jan     zondag            Makar Sankranti  Restricted Holiday
4  23/jan    maandag           Chinese New Year          Observance
5  26/jan  donderdag               Republic Day    Gazetted Holiday
6  28/jan   zaterdag            Vasant Panchami  Restricted Holiday
7     NaN        NaN                        NaN                 NaN
8   5/feb     zondag   Milad un-Nabi/Id-e-Milad    Gazetted Holiday
9   7/feb    dinsdag       Guru Ravidas Jayanti  Restricted Holiday

DataFrame: df_items
Structure:
item_nbr      float64
family         object
class         float64
perishable    float64
Price         float64
dtype: object

First 10 rows:
    item_nbr      family   class  perishable      Price
0   121964.0  AUTOMOTIVE  6810.0         0.0  38.604012
1   172995.0  AUTOMOTIVE  6824.0         0.0  56.226173
2   270522.0  AUTOMOTIVE  6806.0         0.0  69.529060
3   312317.0  AUTOMOTIVE  6810.0         0.0  95.411681
4   461432.0  AUTOMOTIVE  6810.0         0.0  79.512852
5   511394.0  AUTOMOTIVE  6810.0         0.0  50.489947
6  1009512.0  AUTOMOTIVE  6810.0         0.0  30.943201
7  1049595.0  AUTOMOTIVE  6824.0         0.0  16.853997
8  1085148.0  AUTOMOTIVE  6806.0         0.0  35.046215
9  1085150.0  AUTOMOTIVE  6806.0         0.0  61.602376

DataFrame: df_oil
Structure:
date           object
dcoilwtico     object
Unnamed: 2     object
Unnamed: 3    float64
dtype: object

First 10 rows:
       date dcoilwtico Unnamed: 2  Unnamed: 3
0    jan/13   5,708.32      3.29%         NaN
1    feb/13   5,784.94      1.34%         NaN
2  Mar 2013   5,575.84     -3.61%         NaN
3    apr/13   5,375.04     -3.60%         NaN
4  May 2013   5,468.66      1.74%         NaN
5    jun/13   5,817.69      6.38%         NaN
6    jul/13   6,292.38      8.16%         NaN
7    aug/13   6,836.67      8.65%         NaN
8    sep/13   6,926.83      1.32%         NaN
9  Oct 2013   6,497.77     -6.19%         NaN

DataFrame: df_stores
Structure:
store_nbr     float64
Store name     object
city           object
state          object
type           object
cluster         int64
dtype: object

First 10 rows:
   store_nbr                                         Store name       city  \
0        1.0  BB - FC-GUWAHATI-BHANAGAGHAR-CITY SQUARE  G.S ...   GUWAHATI
1        2.0      BB-JOHRAT-MOUZA- NAGARMHAL-PMS / B&A COMPLEX      JOHRAT
2        3.0  BB-SILCHAR-PARGANA-BARAKPUR-GOLDOGH COMMERCIAL...    SILCHAR
3        4.0                 FBB-GUWAHATI-PALTAN BAZAR-G.S.ROAD   GUWAHATI
4        5.0          BB - FC-PATNA-PATALIPUTRA COLONY-P&M MALL      PATNA
5        6.0                   BB-PATNA- EXHIBITION ROAD-P MALL      PATNA
6        7.0        FBB-BHAGALPUR-DN SINGHROAD-JIWANSAGAR TOWER  BHAGALPUR
7        8.0         BB-PATNA-BAILEY ROAD-KASHYAP BUSINESS PARK      PATNA
8        9.0          BB-RAIPUR-DEVENDRA NAGAR-OPP-EPF BUILDING     RAIPUR
9       10.0  BB-BILASPUR-24 MAGARPARA LINK ROAD-RAO TRADE C...   BILASPUR

          state type  cluster
0         Assam    D       13
1           NaN    D       13
2           NaN    D        8
3         Assam    D        9
4         Bihar    D        4
5         Bihar    D       13
6         Bihar    D        8
7         Bihar    D        8
8  Chhattisgarh    B        6
9  Chhattisgarh    C       15

DataFrame: df_test
Structure:
id              int64
date           object
store_nbr       int64
item_nbr        int64
onpromotion      bool
dtype: object

First 10 rows:
          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False
5  125497045  2017-08-16          1    105574        False
6  125497046  2017-08-16          1    105575        False
7  125497047  2017-08-16          1    105576        False
8  125497048  2017-08-16          1    105577        False
9  125497049  2017-08-16          1    105693        False

DataFrame: df_trans
Structure:
date            object
store_nbr        int64
transactions     int64
dtype: object

First 10 rows:
         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922
5  2013-01-02          5          1903
6  2013-01-02          6          2143
7  2013-01-02          7          1874
8  2013-01-02          8          3250
9  2013-01-02          9          2940